.App {
  background-color: #6B9AC4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.main {
  background-color: #4059AD;
  border-radius: 5px;
  padding: 25px;
  width: 500px;
}

span {
  display: block;
  margin-bottom: 10px;
}

input {
  padding: 10px; 
  border: white;
  border-radius: 5px;
  color: black;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

select {
  padding: 10px; 
  border: white;
  border-radius: 5px;
  color: black;
  margin-bottom: 10px;
}